h1 {
    margin:0 auto;
    color: #003366;
    font-size:4em;
    text-align:center;
}

.container {
    width: 60vw;
    min-height: 12vw;
    background: skyblue;
    margin:0 auto;
    border-radius: 10px;
}

.klausimas {
    font-size: 2em;
    margin-top: 10px;
    color: teal;
    text-align:center;
}

.atsakymas {
    font-size: 1.5em;
    font-weight: bold;
    margin-right:20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #666699;
    color: #fcf00c;
    text-align:center;
}

.atsakymas:hover {
    background:#dfffdf;
    color: #003300;
}

#result {
    width: 15vw;
    height: 3vw;
    background: #009999;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #66ffff;
    outline:none;
}
.atsakymas.spalva {
    background: #dfffdf;
    color:teal;
}

#result:hover {
    background:#003300;
    color: #fcf00c;
}

.button {
    margin: 0 auto;
    text-align:center;
    margin-top: 10px;
}

/*#messageBox {
     position: fixed;
    top:40%;
    left: 20px;
    width: 240px;
    height:auto;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px; 
    background-color:#F93;
    color: #FFFFFF;
    padding: 6px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 8px 8px 8px #000;
    padding: 1em;
}*/

@media screen and (max-width: 768px) {

    h1 {
    margin:0 auto;
    color: #003366;
    font-size:2em;
    text-align:center;
    }

    .atsakymas {
    font-size: 1.2em;
    font-weight: bold;
    margin-right:20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:15px;
    border-radius: 20px;
    background: #666699;
    color: #fcf00c;
    text-align:center;
}

    .klausimas {
    font-size: 1.5em;
    margin-top: 10px;
    color: teal;
    text-align:center;
    }

    #result {
    width: 40%;
    min-height: 10vw;
    }

    .container {
    min-height: 30vh;
    padding: 10px;
    margin-bottom: 10px;
    }

}