@import url(https://fonts.googleapis.com/css?family=Roboto:100);

html body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #bbb;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15vw;
  width: 25vw;
  
}
.result {
  width: 100%;
  background-color: black;
  min-height: 8em;
  max-height: 8em;
  color: white;
}
.result > p {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 3em;
  text-align: right;
  
}
button {
  text-align: center;
  cursor: pointer;
  width: 25%;
  min-height:25%;
  font-size:25px;
  background-color: #ccc;
  border-top: 0.05em solid #333;
  border-left: 0.05em solid #333;
}
.operator {
  background-color: #FF9500;
}
.zero {
  width: 50%;
}
.grey {
  background-color: #aaa;
}
