.skaiciuokle {
  width: 100%;
  background: #481335;
  padding: 30px;
  color: white;
}

.left-side {
  width: 30%;
  float: left;
}

.right-side {
  width: 30%;
  float: right;
}

.clearfix {
	clear: both;
	display: block;
}